* {
  box-sizing: border-box;
}

body{
    background-color: #81adf4;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header {
    background-color: #4a83e0;
}

.imie,.welcome{
    text-align: center;
    padding: 3px;
    font-size: 30px;
}

.left{
    padding:10px;
    float: left;
}

.encja{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.id, .name, .size, .type, .data, .delete {
    height: 35px;
}

.id{
    float: left;
    border: 1px solid #343538;
    padding: 3px;
    width: 5%;
    box-sizing: border-box;
}

.name, .size, .type, .data, .delete {
    float: left;
    border-top: 1px solid #343538;
    border-right: 1px solid #343538;
    border-bottom: 1px solid #343538;
    padding: 3px;
}

.name{
    width: 52%;
}

.size{
    width: 10%;
}

.type{
    width: 10%;
}

.data{
    width: 17%;
}

.delete{
    width: 6%;
}

.slider{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    text-align: center;
}

.slider img{
    max-width: 400px;
    max-height: 300px;
}

.plus, .minus{
    float: left;
    padding: 5px;
    cursor: pointer;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    width: 152px;
}

